{% extends 'base.html' %}
{% block title %}
Inicio
{% endblock %}
{% block content %}
<h1 class="py-3">Crear Compra</h1>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link " href="/">Binance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/okex">Okex</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">FTX</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Bybit</a>
  </li>
</ul>

soy okex
<script>
 
</script>
{% endblock %}