{% extends 'base.html' %}
{% block title %}
Ordenes Future
{% endblock %}
{% block content %}
<h1 class="py-3">Ordenes Future Coin M Cerradas </h1>
<div class="table-responsive">
    <table id="ordenesTabla" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  
  <thead>
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">P.E</th>
        <th scope="col">P.C.S</th>
        <th scope="col">P.S</th>
        <th scope="col">P.S.S</th>
        <th scope="col">Tasa Inicial</th>
        <th scope="col">Tasa Actual</th>
        <th scope="col">Diferencia %</th>
        <th scope="col">Cerrar En %</th>
        <th scope="col">Status</th>
        
        <th scope="col">ordenId</th>
        <th scope="col">Type</th>
        <th scope="col">Side</th>
        <th scope="col">Transferido</th>
        <th scope="col">Contratos</th>
        <th scope="col">Fecha</th>
        
        
        
    </tr>
  </thead>
  <tbody>
    {% for dato in datos %}
            <tr>
                
                <td>{{dato.2}}</td>
                <td>{{dato.6}}</td>
                <td>{{dato.7}}</td>
                <td>{{dato.15}}</td>
                <td>{{dato.16}}</td>
                <td>
                    {% set tasaInicial = dato.6|float / dato.7|float * 100 -100  %}
                    {% set diferencia = tasaInicial|float  - dato.10 %}
                    
                    {{ '%0.6f'| format(tasaInicial|float) }}</td>
                <td>{{'%0.6f'| format(dato.10|float)}}</td>
                <td>
                    {% if diferencia > 0 %}
                        <span class="OrdenDiferenciaP">{{ "$%.4f"|format(diferencia) }}%</span>

                    {% else %}
                        <span class="OrdenDiferenciaN">{{ "$%.4f"|format(diferencia) }}%</span>

                    {% endif %}
                </td>
                <td>
                    {% if dato.13|int == 1 %}
                            <div style="display: flex;">
                            <input type="number" class="form-control" value="{{dato.11}}" style="margin-right: 10px;     width: 100px;" id="cerrar_{{dato.0}}" >
                            <button type="button" class="btn btn-primary" onclick="actualizarCierre('{{dato.0}}')">Ok</button>
                            </div>
                        {% else %}
                            {{dato.11}}

                        {% endif %}
                    
                </td>
                <td>{% if dato.13|int == 0 %}
                    <span class="OrdenDiferenciaN">Cerrada</span>
                {% else %}
                    <span class="OrdenDiferenciaN">Cerrada Manual</span>

                {% endif %}</td>
                
                
                

                <td>{{dato.1}}</td>
                <td>{{dato.4}}</td>
                <td>{{dato.5}}</td>
                <td>{{dato.9}}</td>
                <td>{{dato.8}}</td>
                
                <td>{{dato.14}}</td>

            </tr>
     {% endfor %}
    
  </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
    $('#ordenesTabla').DataTable({
        "order": [[ 15, "desc" ]],
    });
} );
  
    </script>
{% endblock %}